html {
    scroll-behavior: smooth;
}

body {
    padding-top: 70px;
}

.placeholder-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Altura de la imagen principal */
.hero-img {
    height: 70vh;
}

.espacio-extra {
    padding-top: 100px;
    padding-bottom: 100px;
}

@font-face {
    font-family: 'MedievalMystery';
    src: url('MedievalMystery.ttf') format('truetype');
}

.titulo-medieval {
    font-family: 'MedievalMystery', cursive; 
}
