/* Desplazamiento suave para los enlaces del menú */
html {
    scroll-behavior: smooth;
}

/* Margen superior para que la barra fija no tape el contenido */
body {
    padding-top: 70px; 
}

/* Estilos para las imágenes de relleno */
.placeholder-img {
    width: 40%;
    object-fit: cover;
    border-radius: 8px;
}

/* Altura de la imagen principal */
.hero-img {
    height: 70vh; /* Ajusta este valor según lo que prefieras (ej. 600px) */
}

/* Espacio extra entre las filas de las secciones */
.espacio-extra {
    padding-top: 100px;
    padding-bottom: 100px;
}

@font-face {
    font-family: 'MedievalMystery';
    src: url('MedievalMystery.ttf') format('truetype'); /* Cambia el .ttf si tu archivo es .otf o .woff */
}

/* 2. Crear una clase para aplicar la fuente */
.titulo-medieval {
    font-family: 'MedievalMystery', cursive; /* 'cursive' es por si la fuente principal falla */
}
